// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img_logo.jpg");
  background-size: cover;
  opacity: 0.8;
  &__title {
    height: 15%;
    text-align: center;
    margin-top: 20px;
    .btn-top {
      font-size: 60px;
      font-weight: bolder;
      text-decoration: none;
      color: #fff;
      transition: all 300ms 0s ease;
    }
    .btn-top:hover {
      font-size: 60px;
      font-weight: bolder;
      text-decoration: none;
      color: #fff;
      opacity: 0.7;
    }
  }
  &__list {
    width: 80%;
    height: 70%;
    background-color: #fff;
    padding-top: 30px;
    border-radius: 5px;
    opacity: 0.8;
    position: relative;
    &__box {
      height: 10%;
      margin-bottom: 20px;
      display: flex;
      &__category {
        height: 50%;
        width: 10%;
        background-color: gray;
        margin-left: 20px;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        font-size: 20px;
      }
      &__name {
        height: 50%;
        width: 10%;
        background-color: gray;
        margin-left: 20px;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        font-size: 20px;
      }
      &__delete {
        height: 50%;
        width: 5%;
        background-color: gray;
        margin-left: 30px;
        border-radius: 8px;
        text-align: center;
        a.btn-delete {
          color: #fff;
          text-decoration: none;
          font-size: 20px;
        }
      }
    }
  }
}